.container {
  width: 80%;
  margin: 2em auto;
  padding: 20px;
  background: linear-gradient(to bottom, #4B0082, #000000); /* Background gradient matching the login page */
  opacity: 0.9; /* Adjusting opacity for a transparent effect */
}

.row {
  margin-bottom: 20px;
}

.col-md-6 {
  width: 50%;
  float: left;
}

/* Movie Details Column */
.MovieDetailsDiv {
  padding: 10px;
  border: 1px solid #ccc; /* Adjusted border color */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
}

/* Payment and Promotion Column */
.paymentDetailsDiv {
  padding: 10px;
  border: 1px solid #ccc; /* Adjusted border color */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
}

/* Buttons Section */
.text-center {
  text-align: center;
}

/* Adjusted width for promo code input */
.width50per {
  width: calc(50% - 60px); /* 50% width minus button width and padding */
}

/* Positioning for promo code button */
.promo-code-section .inpBtnFlx {
  display: flex;
  justify-content: space-between;
}

/* Center align the button */
.flexBtns {
  text-align: center;
}

/* Apply the button style to all buttons */
.flexBtns button {
  margin-right: 10px;
  background: linear-gradient(to bottom right, #4B0082, #000000); /* Gradient background matching the login page */
  color: #fff; /* White text color */
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.flexBtns button:hover {
  background: linear-gradient(to bottom right, #5a1a88, #484747); /* Gradient background for hover */
}