.addMovieWrapper
{
    width: 800px;
    background: #3180ac3d;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 80px;
}
.welcomeMessage
{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    border-radius: 10px;
}
.welcomeMessage h2
{
    margin-top: 10px;
    font-weight: 800;
}
.addMovieForm
{
    margin: 0 20px;
    margin-bottom: 20px;
}
.addButton
{
    color: #FFF;
    background-color: #4B0082;
    padding: 10px 15px;
    text-align: center;
    border: unset;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 0 auto;
    display: block;
}
.addMovieForm label
{
   font-weight: 500;
}
.form-check label
{
    margin-left: 5px;
}
.form-group
{
    margin-top: 5px;
}

.addMovie-container {
    border-radius: 5px;
    background: #e2d2ee;
    box-shadow: 2px 2px 2px 2px #d8c9e4;
    margin: 30px auto;
}

.addMovieMain {
    padding-bottom: 80px;
    background-color: white;
}