.addUserWrapper {
    max-width: 900px;
    background: #e2d2ee;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    padding: 20px;
  }


h2 {
    text-align:center;
    font-weight: 800;
    color: #4B0082; 
  }
.addUserForm
{
    margin: 0 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}
.addButton
{
    color: #FFF;
    background-color: #4B0082;
    padding: 10px 15px;
    text-align: center;
    border: unset;
    border-radius: 10px;
    margin-bottom: 15px;
    margin: 0 auto;
    display: block;
}

.addButton:hover 
{
    background-color: #744a95;
}
.addUserForm label
{
   font-weight: 500;
}
.form-check label
{
    margin-left: 5px;
}
.form-group
{
    margin-top: 5px;
}
