<app-header></app-header>
<div class="container">
  <h2>Hello {{ firstNameUser }} {{ lastNameUser}}!</h2>
  <form class="formDiv" (ngSubmit)="updateUser()" method="post">
    <!-- Account Details Section -->
    <h3>Account Details</h3>
    <!-- Email Address Field -->
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="customerData.email" name="email" readonly>
    </div>
    <!-- Password Field -->
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        [(ngModel)]="customerData.password"
        name="password"
        [readonly]="!isEditingPassword"
        (click)="openPasswordChangePopup()"
      >
    </div>
    <!-- Personal Details Section -->
    <h3>Personal Details</h3>
    <!-- First Name Field -->
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="customerData.firstName" name="firstName">
    </div>
    <!-- Last Name Field -->
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="customerData.lastName" name="lastName">
    </div>
    <!-- Contact Number Field -->
    <div class="mb-3">
      <label for="contactNumber" class="form-label">Contact Number</label>
      <input type="tel" class="form-control" id="contactNumber" [(ngModel)]="customerData.phoneNumber" name="contactNumber">
    </div>
    <!-- Payment Cards Section -->
    <h3>Payment Cards</h3>
    <!-- Payment Cards Content -->
    <!-- Address Details Section -->
    <h3>Address Details</h3>
    <!-- Street Field -->
    <div class="mb-3">
      <label for="addressline1" class="form-label">Street</label>
      <input type="text" class="form-control" id="addressline1" [(ngModel)]="customerData.street" name="addressLine1">
    </div>
    <!-- City Field -->
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" [(ngModel)]="customerData.city" name="city">
    </div>
    <!-- State Field -->
    <div class="mb-3">
      <label for="state" class="form-label">State</label>
      <input type="text" class="form-control" id="state" [(ngModel)]="customerData.state" name="state">
    </div>
    <!-- Zip Code Field -->
    <div class="mb-3">
      <label for="zipcode" class="form-label">Zip Code</label>
      <input type="text" class="form-control" id="zipcode" [(ngModel)]="customerData.zipcode" name="zipCode">
    </div>
    <!-- Promotions Checkbox -->
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="customerData.promotionsSubscribed" name="promotions">
      <label class="form-check-label" for="exampleCheck1" style="margin-left: 5px;">Turn on Promotions</label>
    </div>
    <!-- Save Changes Button -->
    <button type="submit" class="saveButton">Save Changes</button>
  </form>
</div>
<!-- Confirmation Modal -->
<div *ngIf="isSaveSuccessful" class="confirmation-modal">
  <div class="confirmation-content">
    <span class="close-icon" (click)="closeConfirmationModal()">&times;</span>
    <h1 class="modalText">Profile updated successfully!</h1>
  </div>
</div>
<app-footer></app-footer>
