h2 {
  padding-top: 25px;
  color: white;
  text-align: center;
}

.container {
  background: linear-gradient(to bottom, #4B0082, #000000); /* Gradient background */
  width: 100%;
}

.formDiv {
  width: 40%;
  margin: 0 auto; 
  margin-top: 30px; 
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  margin-bottom: 30px;
}

.formDiv h3 {
  font-weight: bold;
  margin: 10px 0;
}

.formDiv .mb-3 {
  margin: 10px 0;
}

.saveBtn {
  color: #fff;
  background-color: #4B0082;
  padding: 10px 15px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.saveBtn:hover{
  background-color: #796885;
}

/* Confirmation Modal */
.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirmation-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  height: auto;
  width: 300px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #999;
}

.modalText {
  color: #4B0082;
}

/* Error Modal */
.error-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.error-modal-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  position: relative;
  width: 400px;
}

/* Password Change Popup */
.password-change-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.password-change-popup h2 {
  margin-top: 0;
}

.password-change-popup button {
  margin-top: 10px;
}

/* Error Message */
.error-message {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

/* Success Message */
.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
