<app-header></app-header>
<div class="bigcontainer">
<div class="container">
  <h1 class="registration">Order Summary</h1>

  <div>
      Movie:
    </div>
    <div>
      Show Time: 
    </div>
    <div>
      Seat: 
    </div>
    <div>
      Age: 
    </div>
    <div>
      Price: 
    </div>
    <hr>
  </div>

  <div class="actions">
    <button (click)="updateOrder()" caption="updateOrder">Update Order</button>
    <button (click)="checkout()" caption="checkout">Proceed to Checkout</button>
  </div>
</div>
</div>
<app-footer></app-footer>